body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* landing page */
.home_container{
  background:#f7f7f7;
  height: calc(100vh - 4.6875rem);
  overflow: hidden;
  /* scrollbar-color: transparent transparent !important */
}
/* landing page */

.form_auth{
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 50px;
}
.pwd_wrp {
  position: relative;
}
.cnfrm_pwd {
  position: relative;
}
.password-show{
  bottom: 281px;
  right: 40%;
  position: absolute;
  display: inline-flex;
  cursor: pointer;
}
.cpassword-show{
  bottom: 271px;
  right: 41%;
  position: absolute;
  display: inline-flex;
  cursor: pointer;
}